[submodule "References/Godot-Hair-Shading"]
	path = References/Godot-Hair-Shading
	url = https://github.com/LiveTrower/Godot-Hair-Shading.git
[submodule "References/GodotHair"]
	path = References/GodotHair
	url = https://github.com/2Retr0/GodotHair.git
